extends base.pug

block content
    h4 Change Title of video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(placeholder="Description", name="description", type="text", required, minlength=20 value=video.description)
        input(placeholder="Hashtags, separated by comma.", name="hashtags", type="text", required value=video.hashtags.join())
        input(value="Save",type="submit")